body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

form {
    margin-top: 30px;
}

button {
    padding: 10px 20px;
    background-color: teal;
    color: white;
    border: none;
    cursor: pointer;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}
